@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
--limeGreen: hsl(163, 72%, 41%);
--brightRed: hsl(356, 69%, 56%);
--facebook: hsl(208, 92%, 53%);
--twitter: hsl(203, 89%, 53%);
--instagram: linear-gradient(to right bottom, hsl(37, 97%, 70%), hsl(329, 70%, 58%));
--youTube: hsl(348, 97%, 39%);

/* #### Dark Theme */
--toggleGradient: linear-gradient(to right bottom, hsl(210, 78%, 56%),hsl(146, 68%, 55%));

/* #### Light Theme */
--toggle: hsl(230, 22%, 74%);
--hover: hsl(228, 26%, 27%);

/* #### Dark Theme */
--veryDarkBlueBg: hsl(230, 17%, 14%);
--veryDarkBlueTopBg: hsl(232, 19%, 15%);
--darkDesaturatedBlueCardBg: hsl(228, 28%, 20%);
--desaturatedBlueText: hsl(228, 34%, 66%);
--white: hsl(0, 0%, 100%);

/* #### Light Theme */
--whiteBg: hsl(0, 0%, 100%);
--veryPaleBlueTopBg: hsl(225, 100%, 98%);
--lightGrayishBlueCardBg: hsl(227, 47%, 96%);
--darkGrayishBlueText: hsl(228, 12%, 44%);
--veryDarkBlueText: hsl(230, 17%, 14%);

/* #### Others */
--radius: 8px;
--small: 14px;
--large: 28px;
--largeXl: 48px;
--trans: all 0.3s linear;
}

*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Space Grotesk', sans-serif;
}

/* classes */
.down {
  color: var(--brightRed) !important;
}

.facebook::before {
  background-color: var(--facebook)!important;
}

.twitter::before {
  background-color: var(--twitter)!important;
}

.instagram::before {
  background: var(--instagram)
}

.youtube::before {
  background-color: var(--youTube)!important;
}

.round {
  border-radius: 36px;
}

.round::before {
  border-radius: 50%;
}